.navbar-nav{
    margin-left: 85%;
}
#title{
    background-color: palevioletred;
}
h1{
    font-family:"Montserrat-Black";
     size: 3rem;
     line-height: 1.9;
    
}
.container-fluid{
    padding-top: 100px;
}
.tst{
    padding: 15%;
}
.iphone{
    position: relative;
    bottom: 50px;
    height: 80%;
    transform: rotate(15deg);
}
.nav-item{
    font-size: 30px;
}
.meet{
    position: relative;
    bottom: 100px;
}
.btn{
    position: relative;
    bottom: 50px;
    margin-right: 10%;
}
.botimg{
    height: 50px;
}
.row{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 8%;
}
#testimonials{
     text-align: center;
     background-color: palevioletred;
     padding-top: 30px;
}
#press{
    background-color: palevioletred ;
    text-align: center;
    padding: 50px;

}
.press-logo{
    width: 200px;
}
.plan{
    text-align: center;
    padding-top: 100px;
}
#title{
    height: 900px;
}
#middle{
    background-color: white;
    position: relative;
    z-index: 1;
}
#cta{
 text-align: center
}
.bottom-container{
    text-align: center;
    padding-top: 10px;
    height: 100px;
  background-color: #66BFBF;
};
.btn:hover{
    color: rgb(10, 21, 17);
}
